@import "tailwindcss";

* {
  font-family: "Montserrat", sans-serif;
}

@keyframes snowfall {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(100vh);
  }
}

.snow {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  animation: snowfall linear infinite;
  opacity: 0.8;
  z-index: 10;
}

.snow:nth-child(odd) {
  background-color: #eef2f3;
}